<?xml version='1.0'?>
<model>
    <name>Ground Plane</name>
    <version>1.0.0</version>
    <sdf version="1.5">model.sdf</sdf>
    <author>
        <name>Gabriel Hottiger</name>
        <email>gabriel.hottiger@mavt.ethz.ch</email>
    </author>
    <description>Customized ground plane model for the Menzi Muck.</description>
</model>
