<launch>

  <arg name="model" default="$(find helmoro_description)/urdf/helmoro.urdf" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find helmoro_description)/rviz/urdf.rviz" />


  <param name="helmoro_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)" />


  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="robot_description" to="helmoro_description" />
  </node> -->

  <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="helmoro_description" />
  </node> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>